body {
    padding: 0;
    margin: 0;
    background-color: rgb(168, 161, 162);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(pexels-cottonbro-studio-6221586.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: fixed;
    margin-bottom: 40px;
    
}
.camel{
    max-width: 500px;
    max-height: 200px;
    min-width: 200px;
    min-height: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 80%;
    margin-bottom: 20px; /* Add margin between form and links */
}

input[type="text"],
input[type="email"],
input[type="submit"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
}





.subject {
    resize: horizontal;
}

.submit {
    background-color: rgba(0, 0, 0, 0.171);
    box-shadow: black 1px;
}

.aaa,
.aaa1,
.aaa2 {
    text-decoration: none;
    color: rgba(240, 234, 234, 0.76);
    font-size: 40px;
    transition: 0.3s ease;
    display: block;
    margin-top: 20px;
    font-weight: 100;
    text-align: center;
}

.aaa:hover,
.aaa1:hover,
.aaa2:hover {
    color: brown;
}

@media screen and (max-width: 768px) {
    input[type="text"],
    input[type="email"],
    input[type="submit"],
    textarea {
        width: 100%;
        max-width: none;
    }
    .aaa,
.aaa1,
.aaa2{
 font-size: 20px;   
}
    
}
